<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
	<form method=POST th:action="@{/admin/update/process}" th:object="${user}">
		<h3>Update user</h3>
		<label for="firstName"> First name: </label>
		<input type="hidden" th:field="*{id}" th:value = "${user.id}"/>
		<input type="text" th:field="*{firstName}"  th:value = "${user.firstName}"/>
		</br>
		<label for="lastName"> Last name: </label>
		<input type="text" th:field="*{lastName}" th:value = "${user.lastName}"/>
		</br>
		<label for="phoneNumber"> Phone number: </label>
		<input type="text" th:field="*{phoneNumber}" th:value = "${user.phoneNumber}"/>
		</br>
		<input type="submit" value="Submit">
	</form>
</div>
</body>
</html>